.about-page {
	width: 90%;
    margin: auto;
    min-height: 79vh;
}

@media screen and (max-width: 1042px) {

    .about-page {
        width: 90%;
    }

    #about-page-banner {
        height: 24vh;
        object-fit: cover;
    }

}
