.accommodation-wrapper {
    min-height: 79vh;
    width: 65%;
    margin: auto;
    color: #FF6060;
}

.accordion-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 13px 0;
}

.tag-wrapper {
    display: flex;
    gap: 8px;
}

.main-information-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.identity-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}
.identity-wrapper p {
    width: 50px;
    text-align: end;
}

.profile-picture {
    border-radius: 100px;
    width: 69px;
}

.accordion-accommodation {
width: 33vw;
}

#Description {
    position: relative;
    left: -24px;
}

#Equipements {
    position: relative;
    right: -24px;
}

.information-title {
    font-size: 1.5rem;
    font-weight: normal;
}

.information-location {
    font-size: 0.9rem;
    margin-top: -9px;
}



@media screen and (max-width: 1048px) {

    .accommodation-wrapper {
        width: 86%;
    }

}

@media screen and (max-width: 1048px){

    .main-information-wrapper {
        flex-direction: column;
    }

    .information-title {
        margin-top: 0;
    }

    .profile-wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 65vw;
        justify-content: space-between;
        margin-top: 15px;
    }

    .accordion-wrapper {
        display: block;
    }
    .accordion-accommodation {
        width: 86vw;
    }

    #Description {
        left: 0;
    }

    #Equipements {
        right: 0;
    }

    .sub-information-wrapper {
        width: 100%;
    }
}
