.cards-wrapper {
    border-radius: 25px;
    background-color: #F7F7F7;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));*/
    /*row-gap: 1%;*/
    /*justify-items: center;*/
    padding: 3% 25px;
}

.card {
    height: 300px;
    width: 300px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;

}

.card-title {
    justify-content: flex-end;
    height: 50px;
    color: white;
    padding-left: 15px;
    width: 50%;
    font-size: 0.9rem;
}

@media screen and (max-width: 340px) {

    .card {
        width: 86vw;
        height: 255px;

    }
}

