.gallery-wrapper {
    display: flex;
    position: relative;
    /*height: 415px;*/
    max-width: 100%;
}

.previous-button {
    top: 50%;
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.next-button {
    width: 25px;
    top: 50%;
    position: absolute;
    cursor: pointer;
    right: 10px;
}
.banner-picture {
    border-radius: 25px;
    position: relative;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1048px) {

    .banner-picture {
        height: 28vh;
    }

    .previous-button, .next-button {
        top: 40%;
    }

}
