.menu {
    color:#FF6060;
    font-size: 1.5rem;
   list-style-type: none;
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #FF6060;
}

.menu a :active {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    /*margin: 40px 0;*/
    width: 86%;
    margin: 12px auto;
}

.header img {
    width: 156px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.active {
    text-decoration: underline !important;
}

@media screen and (max-width: 1048px) {

    .header {
        width: 86%;
    }

    .header img {
        width: 100px;
    }

    .menu {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 600px) {

    .header img {
        width: 100px;
    }

    .menu {
        font-size: 0.8rem;
        gap: 28px;
    }
}

@media screen and (max-width: 416px) {

    .menu {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 281px) {

    .menu {
        padding-left: 0px;
    }
}
