.home-page {
    width: 86%;
    margin: auto;
}

@media screen and (max-width: 1048px) {

    .home-page{
        width: 86%;
    }

}

@media screen and (max-width: 797px) {

    .wrapper-banner h2 {
        text-align: left;
    }



}

@media screen and (max-width: 400px) {

    /*.home-page{*/
    /*    width: 96%;*/
    /*}*/

}
