.empty {
    color: #E3E3E3;
}

.rating-wrapper {
    display: flex;
    gap: 15px;
    margin-top: 19px;
    justify-content: flex-end;
}

@media screen and (max-width: 450px) {

    .rating-wrapper {
        font-size: 3vw;
    }


}
